body {
	background-color: black;
	text-align: center;
}
h1 {
	color: white;
	text-shadow: 0 0 1px white, 0 0 0;
	font-family: Courier New;
	font-size: 5vw;
}
.container {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: 50px;
	max-width: 1500px;
	width: 80%;
	position: relative;
	margin: auto;
}
table {
	width: 100%;
	margin: auto;
	color: white;
}
tr {
	max-width: 100%;

}
td {
	width: 5,26%;
	height: 100%;
	font-family: Courier New;
	position: relative;
}
th {
	color: #CE6100;
	font-family: Courier New;
	font-size: calc(1em + 1vw);
	width: 5.5%px;
	height: 20px;
}
.empty {
	border: 0px;
}
.upper {
	color: white;
}
.nonmetal {
	background-color: #FFEEDF;
}
.alkalim {
	background-color: #FFCD51;
}
.alkalie {
	background-color: #FFAD3D;
}
.rare {
	background-color: #ED921C;
}
.trans {
	background-color: #ed784c;
}
.other {
	background-color: #E55437;
}
.halogen {
	background-color: #FF5757;
}
.noble {
	background-color: #CF2F0F;
}
.actinoid {
	background-color: #b57164;
}
.name {
	text-align: center;
	background-color: black;
	font-weight: bold;
	font-size: 1.5vw;
	margin: 5px 0 10px;
	color: white;
	text-shadow: 0 0 1px black, 0 0 0;
}
.num {
	position: absolute;
	bottom: 1%;
	left: 1%;
	font-size: 0.5vw;
	line-height: 0px;
	margin: 3px;
	color: black;
}
.mass {
	position: absolute;
	bottom: 1%;
	right: 1%;
	font-size: 0.5vw;
	line-height: 0px;
	margin: 3px;
	color: black;
}
.imgsize {
	width: 60%;
	max-width: 200px;
	height: auto;
	border: 1px solid white;
	margin: auto;
	padding: auto;
}